<app-card-content [hiddenMenu]="true">
  <div class="display">
    <!-- begin title -->

    @if(stepNext == 'input') {
    <div class="title mb-7">ลืมรหัสผ่าน</div>
    <form nz-form nzLayout="vertical" [formGroup]="validateForm">
      <!-- username -->
      <nz-form-item class="app-input-form">
        <nz-form-label
          >กรุณาใส่ เบอร์โทรศัพท์ / อีเมล ของท่านเพื่อรับขั้นตอน
          การเปลี่ยนรหัสผ่าน</nz-form-label
        >
        <nz-form-control nzErrorTip="กรุณาใส่ เบอร์โทรศัพท์ / อีเมล">
          <input
            nz-input
            id="input-forgotpassword"
            type="text"
            formControlName="userName"
            placeholder="กรอกเบอร์โทรศัพท์ / อีเมล"
            class="w-full"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
    } @if(stepNext == 'otp') {
    <div class="title">ยืนยันตัวตน</div>
    <app-card-otp-varify
      typeOtp="FORGOT_PASSWORD"
      [token]="inputObject.token"
      [type]="inputObject.type"
      [input]="inputObject.input"
      (onSubmit)="onOtpSubmit($event)"
    />
    }

    <!-- step password -->
    @if(stepNext == 'password') {
    <div class="title mb-7">ตั้งรหัสผ่าน</div>
    <app-input-set-password [historyPwd]="historyPwds" (onValid)="onNewPassword($event)" />
    }
  </div>

  <div footer>
    <div class="display-footer">
      <button
        id="btn-next-register"
        type="button"
        class="btn-app btn-primary w-full"
        (click)="submitForm()"
      >
        <span>ถัดไป</span>
      </button>
    </div>
  </div>
</app-card-content>

<app-modal-alert 
  [(visible)]="isOpenModal" 
  [title]="modal.title"
  [desc]="modal.message"
/>
