<div class="game-true-false" [class.is-select]="isSelected" (click)="actionChoose()">
    @if(answer.gmAnsChoice.result == true) {
      <div class="overlay yes">
        <img class="icon-game" [src]="imageIsTrue" >
      </div>
    }
    
    @if(answer.gmAnsChoice.result == false) {
      <div class="overlay no">
        <img class="icon-game" [src]="imageIsFalse" >
      </div>
    }
  <div class="header">
    @if(getUrlImage()) {
      <img class="h-[120px]" [src]="getUrlImage()" alt="game-banner" />
    }
  </div>
  <div class="body">
    <p class="text-game">{{ answer.gmAnsChoice.choice }}</p>
  </div>
</div>
