<app-header [hiddenMenu]="true" [marginBottom]="false"/>
<div class="h-[calc(100dvh-101px)] home-page-welcome">
  <div class="container mx-auto pt-8 h-full grid content-between">
    <div>
      <h3 class="text-center text-white text-[20px]">
        ยินดีต้อนรับเข้าสู่ Freedom by TISCO
      </h3>

      <h1 class="text-center text-white text-[30px] font-bold mt-4">
        ค้นหาตัวตน พร้อมเรียนรู้ <br> เรื่องการเงิน
      </h1>

      <div class="mt-5">
        <img class="mx-auto h-[100px]" [src]="imgFfd" alt="">
      </div>

      <div class="mt-5">
        <img class="mx-auto h-[250px]" [src]="imgLogo" alt="">
      </div>
    </div>

    <div class="flex gap-4 justify-center pb-7">
      @if (isDemo) {
        <button
        id="btn-welcome-signin"
        type="button"
        class="btn-app btn-primary lg:w-4/12 w-10/12"
        (click)="routerSendObject(['/auth/sign-in'])"
      >
        เข้าสู่ระบบ
      </button>
      } @else {
      <button
        id="btn-welcome-signin"
        type="button"
        class="btn-app btn-gray w-6/12 lg:w-2/12"
        (click)="routerSendObject(['/auth/sign-in'])"
      >
        เข้าสู่ระบบ
      </button>
      <button
        id="btn-welcome-signup"
        type="button"
        class="btn-app btn-primary w-6/12 lg:w-2/12"
        (click)="routerSendObject(['/auth/chanel'], { path: ['/'] })"
      >
        ลงทะเบียน
      </button>
    }
    </div>
  </div>
</div>