<app-card-content [hiddenMenu]="true">
  <div class="display">
    <div class="title mb-7 text-center font-bold">สวัสดี คุณ {{ account.accFirstname }}</div>
    <p class="text-[20px] text-center text-[var(--color-five)]">{{ textDetail }}</p>
    <div class="mt-10">
        <img class="mx-auto h-[120px]" [src]="imageHcTitle" alt="">
    </div>
    <div class="mt-10">
      <img class="mx-auto h-[250px]" [src]="imageHcIcon" alt="">
  </div>
  </div>

  <div footer>
    <div class="display-footer">
      <button
        id="btn-start-healthcheck"
        type="button"
        class="btn-app btn-primary w-full"
        [routerLink]="['/health-check']" 
      >
        <span>เริ่มต้นค้นหาตัวตน</span>
      </button>
    </div>
  </div>
</app-card-content>
