<div class="card-health-check-question">
  <div class="subject mb-3">
    <div class="title">{{ question.hcqSubject }}</div>

    <div class="picture">
      @if (getUrl()) {
      <img [src]="getUrl()" [alt]="question.hcqSubject" />
      }
    </div>
  </div>

  <div class="answer mt-10 pb-5">
    @for (ans of question.answers; track $index) {
    <button
      type="button"
      [id]="'btn-choice-question-' + $index"
      class="btn-app btn-choice btn-box btn-white w-full mb-3"
      (click)="actionSelect($event, ans)"
    >
      {{ ans.ansSubject }}
    </button>
    }
  </div>
</div>
