<div
  class="flex flex-col gap-2 justify-items-center justify-center rounded-[20px] lg:px-0 px-4 bg-[#B6DEF7]"
>
  <div class="flex flex-row gap-10 p-6 justify-center">
    <div class="flex flex-col gap-8">
      <p class="text-[#005DA5] text-[30px]">สวัสดีคุณนกฮูก</p>
      <div class="flex flex-col">
        <div class="flex flex-row gap-6">
          <app-score-exp />
          <app-score-point />
        </div>
      </div>
    </div>
    <div class="bg-white rounded-[20px]">
      <img
        src="assets/persona/pngtree-3d-owl-teacher-design-png-image_14353872-transformed copy 1.png"
        alt="persona"
        width="100"
        height="100"
      />
    </div>
  </div>
</div>
