<app-card-content [hiddenHeaderScore]="hiddenHeaderScore">
  <div class="display">
    <app-home-banner-account />
    <div class="my-4">
      <app-home-banner />
    </div>
    <div class="mt-10">
      <div class="grid grid-cols-2 gap-4 justify-center items-center">
        @for (menu of homeMenuList; track $index) {

        <app-home-menu
          [label]="menu.label"
          [icon]="menu.icon"
          [bgColor]="menu.color"
          [idName]="menu.id"
          [page]="menu.page"
        ></app-home-menu>

        }
      </div>
    </div>
  </div>
</app-card-content>
