<app-card-content [hiddenMenu]="true">
  <div class="display">
    <!-- begin title -->
    <div class="title mb-7">ลงทะเบียน</div>

    <div class="grid grid-cols-1 gap-5">
      <!-- btn line -->
      @for (line of lineProvider; track $index) {
        <app-btn-line-login
          nz-row
          [id]="'btn-line-login-' + $index"
          [line]="line"
        />
      }

      <!-- btn email -->
      <button
        type="button"
        id="btn-register-email"
        class="btn-app btn-outline w-full"
        (click)="registerTerms('EMAIL')"
      >
        <img src="assets/btn-logo/logo-email.svg" alt="logo" />
        <span>ลงทะเบียนผ่านอีเมล</span>
      </button>

      <!-- btn phone -->
      <button
        id="btn-register-phone"
        type="button"
        class="btn-app btn-third w-full"
        (click)="registerTerms('PHONE')"
      >
        <img src="assets/btn-logo/logo-phone.svg" alt="logo" />
        <span>ลงทะเบียนผ่านเบอร์โทรศัพท์</span>
      </button>
    </div>
  </div>

  <div footer>
    <div class="display-footer">
      <button
        id="btn-submit"
        type="button"
        class="btn-app btn-gray w-full"
        [routerLink]="['/auth/sign-in']"
      >
        <img src="assets/btn-logo/back-btn.svg" alt="logo" />
        <span> ย้อนกลับ</span>
      </button>
    </div>
  </div>
</app-card-content>
