<app-card-content>
  <p class="text-center text-[30px] font-bold text-[#005DA5] my-8">
    เลือกเรื่องที่อยากรู้
  </p>
  <div class="grid lg:grid-cols-4 grid-cols-1 justify-items-center gap-2">
    <app-card-intro-game [openDetail]="false"></app-card-intro-game>

    <app-card-intro-game [openDetail]="false"></app-card-intro-game>

    <app-card-intro-game [openDetail]="false"></app-card-intro-game>

    <app-card-intro-game [openDetail]="false"></app-card-intro-game>
  </div>
</app-card-content>
