<footer class="bg-[#005DA5] text-white w-full mt-5 lg:h-[184px]">
  <div class="container mx-auto py-5 px-5 lg:px-0">
    <div class="lg:flex lg:flex-row">
      <app-logo class="mb-4 w-2/12" mode="light"></app-logo>
      <div class="text-footer lg:w-7/12 w-full my-2 lg:my-0">
        <span>ธนาคารทิสโก้ จำกัด (มหาชน) สำนักงานใหญ่</span><br />
        <span>อาคารทิสโก้ทาวเวอร์ 48/2 ถนนสาทรเหนือแขวงสีลม เขตบางรัก </span>
        <span>กรุงเทพฯ 10500</span>
      </div>
      <div
        class="flex flex-col gap-[1px] lg:items-end lg:w-3/12 w-full my-4 lg:my-0"
      >
        <a class="text-footer">เกี่ยวกับเรา</a>
        <a class="text-footer">ผลิตภัณฑ์และบริการ</a>
        <a class="text-footer">บทความสุขภาพทางการเงิน</a>
        <a class="text-footer">ติดต่อเรา</a>
      </div>
    </div>
    <p>
      ©All Rights Reserved.Tisco Public Company Limited | Terms & Conditions |
      Privacy Policy & Cookies
    </p>
  </div>
</footer>
