<form nz-form nzLayout="vertical" [formGroup]="validateForm">
  <!-- password -->
  <nz-form-item class="app-input-form">
    <nz-form-label>รหัสผ่าน</nz-form-label>
    <nz-form-control [nzErrorTip]="validateMsgTemplate">
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          id="input-password-register"
          placeholder="กรอกรหัสผ่าน"
          formControlName="password"
          class="text-placeholder w-full"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <span
          nz-icon
          class="cursor-pointer"
          [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
          (click)="passwordVisible = !passwordVisible"
        ></span>
      </ng-template>
    </nz-form-control>
    <ng-template #validateMsgTemplate let-controlPassword>
        @if (controlPassword.errors) {
            {{ controlPassword.errors?.['message'] }}
        }
    </ng-template>
  </nz-form-item>

  <!-- confirm password -->
  <nz-form-item class="app-input-form">
    <nz-form-label>ยืนยันรหัสผ่าน</nz-form-label>
    <nz-form-control [nzErrorTip]="validateConfirmMsgTemplate">
      <nz-input-group [nzSuffix]="suffixTemplateConfirm">
        <input
          [type]="confirmPasswordVisible ? 'text' : 'password'"
          nz-input
          id="input-confirm-password-register"
          placeholder="กรอกยืนยันรหัสผ่าน"
          formControlName="confirmPassword"
          class="text-placeholder w-full"
        />
      </nz-input-group>
      <ng-template #suffixTemplateConfirm>
        <span
          nz-icon
          class="cursor-pointer"
          [nzType]="confirmPasswordVisible ? 'eye' : 'eye-invisible'"
          (click)="confirmPasswordVisible = !confirmPasswordVisible"
        ></span>
      </ng-template>
    </nz-form-control>
    <ng-template #validateConfirmMsgTemplate let-controlComfirmPassword>
        @if (controlComfirmPassword.errors) {
            {{ controlComfirmPassword.errors?.['message'] }}
        }
    </ng-template>
  </nz-form-item>
</form>

<div class="flex flex-col pl-2">
  <div
    *ngFor="let item of conditionPassword | keyvalue"
    class="flex flex-row gap-4"
  >
    <span
      nz-icon
      [className]="
        item.value.check
          ? 'flex text-green-500 cursor-pointer items-center'
          : 'flex text-red-500 cursor-pointer items-center'
      "
      [nzType]="item.value.check ? 'check' : 'close'"
    ></span>
    <p class="text14-base-normal">
      {{ item.value.label }}
    </p>
  </div>
</div>

<app-modal-alert 
  [(visible)]="isOpenModal" 
  [title]="modalAlert.title"
  [desc]="modalAlert.message"
/>