@if (dataBoard) {
<div class="w-full mb-6">
  @if(getUrl()) {
  <img
    [src]="getUrl()"
    class="rounded-[10px]"
    alt="profile"
  />
  }
  <p class="text-[var(--color-game-title)] text-[18px] font-bold mt-2">
    {{ dataBoard.gmBoardTitle }}
  </p>
  @if(openDetail == false){
    <div class="my-1">
      <span class="text-[var(--color-primary)]">{{ hisPlaying.countPlaying }}</span>
      <span class="text-[var(--color-border)]">/{{ hisPlaying.maxLimit }} Challenge Completed</span>
    </div>
  }
  @if(openDetail == true){
  <p class="mt-2 app-html-content" [innerHTML]="dataBoard.gmBoardDetail"></p>
  }

  @if(openDetail == false){
    <div class="flex gap-2 mt-2">
      @if (dataBoard.categories.gmCateTitle) {
      <div class="border border-[var(--color-gray-primary)] rounded-[10px] w-fit">
        <p class="text-center p-2 text-[var(--color-border)]">
          {{ dataBoard.categories.gmCateTitle }}
        </p>
      </div>
      } @if (dataBoard.format.gmFormName) {
      <div class="border border-[var(--color-gray-primary)] rounded-[10px] w-fit">
        <p class="text-center p-2 text-[var(--color-border)]">
          {{ dataBoard.format.gmFormName }}
        </p>
      </div>
      }
    </div>
  }
</div>
}
