<div class="navigate-menu-header">
  <div class="container mx-auto">
    <div class="btn-mobile">
      <div class="flex items-center">
        @if (hiddenHeaderScore == false) {
        <app-score-point />
        }
      </div>

      <div>
        <button
          (click)="btnHamberger()"
          type="button"
          class="p-2 w-10 h-10"
          id="btn-menu-page"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- overlay menu -->
  <div class="menu-mobile" [class.hidden]="!openToggle">
    <div class="container mx-auto xs:px-3 md:px-3 lg:px-0 px-3">
      <ul class="box-menu display">
        @for (menu of itemsMenuList; track $index) {
        <li
          [id]="menu.id"
          [class.active]="menu.active"
          (click)="actionMenuNavigate(menu)"
        >
          <div class="icon">
            <img [src]="menu.icon" [alt]="menu.label" />
          </div>
          <span>{{ menu.label }}</span>
        </li>
        }
      </ul>

      @if (btnLogout) {
      <div class="mt-10">
        <button
          type="button"
          class="btn-app btn-primary mx-auto"
          (click)="logout()"
        >
          ออกจากระบบ
        </button>
      </div>
      }
    </div>
  </div>
</div>
